@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}
.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header {
    background-color: #e0f19c;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    height: 135px;
    width: 135px;
    position: relative;
    left: 80px;
    bottom: 5px;
}
.header h2 {
    color: #2a4c09;
    font-size: 32px;
    position: relative;
    left: 56px;
    bottom: 5px;
}
.header p {
    color: #747472;
    font-weight: 600;
    position: relative;
    right: 20px;
    bottom: 5px;
}

.box-nav-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    height: 10%;
    position: relative;
    bottom: 25px;
}
.nav-bar-center {
    display: flex; 
    background-color: #F5F5F5;
    width: 35%;
    height: 90%;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.box-nav-bar ul {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.box-nav-bar a {
    text-decoration: none;
    color: #868686;
}
.box-nav-bar a:hover {
    transition: 0.5s;
    color: #2a4c09;
}

.big-box{
    width: 800px;
    background-color: #F5F5F5;
    height: 200%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;;
    flex-direction: column;
}

.box-resposta{
    left: 50%;
    top: 50%;
    margin-top: -5px;
    width: 90%;
    height: 70%;
    border: none;
    border-radius: 15px;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding-inline-start: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: 0.7s;
}
.box-pergunta{
    left: 50%;
    top: 50%;
    margin-top: 20px;
    width: 90%;
    height: 15%;
    border: none;
    border-radius: 15px;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding-inline-start: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
}


.box-pergunta button {
    position: absolute;
    margin-top: 10px;
    right: 410px;
    border-radius: 15px;
    width: 70px;
    height: 50px;
    border: none;
    background-color: #e0f19c;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.box-pergunta button:hover {
    background-color: #bbce6e;
}

.box-pergunta button i {
    transform: scale(1.9);
    color: #2a4c09;
    text-shadow: 1px 0.7px 1px rgba(0, 0, 0, 0.3);
}

.box-pergunta input{
font-size: 16px;
border-radius: 5px;
width: 85%;
flex-wrap: wrap;
height: 30px;
margin-left: 5px;
margin-top: 20px;
border: none;
background-color: transparent;
}
.box-pergunta input:focus{
    outline: none;
    }
/* input[type="text"]{
        visibility: hidden;
        padding: 15px;
        font-size: 16px;
        border-radius: 5px;
        width: 500px;
        height: 10px;    

}
input[type="text"]::placeholder{
    visibility: visible;
} */
/* .container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #1F2A44;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}
*/
.display-hidden {
    display: none;
}
.resposta {
    width: 94%;
    height: 82%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    text-align: left;
    animation: aparecerResposta 1s;
} 

@keyframes aparecerResposta {
    0%{opacity: 0; transform: translateY(-30px);}
    100%{opacity: 100%; transform: translateY(0);}
}