@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}
header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background-color: #e0f19c;
    width: 100%;
    height: 150.88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    height: 135px;
    width: 135px;
    position: relative;
    left: 80px;
    bottom: 5px;
}
.header h2 {
    color: #2a4c09;
    font-size: 32px;
    position: relative;
    left: 56px;
    bottom: 5px;
}
.header p {
    color: #747472;
    font-weight: 600;
    position: relative;
    right: 20px;
    bottom: 5px;
}
.box-nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 85.05px;
    position: relative;
    bottom: 25px;
}
.nav-bar-L {
    display: flex; 
    background-color: #F5F5F5;
    width: 49%;
    height: 90%;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.box-nav-bar ul {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
.box-nav-bar a {
    text-decoration: none;
    color: #868686;
}

.box-nav-bar a#monitoramento {
    text-decoration: none;
    color: #2a4c09;
}
.box-nav-bar a:hover {
    transition: 0.5s;
    color: #2a4c09;
}


.nav-bar-R {
    display: flex;
    background-color: #F5F5F5;
    width: 49%;
    height: 90%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.monitor_temperatura {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.graf_temp {
    border-radius: 10px;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    width: 60vw;
    height: 300px;
}

.funcionamento_temperatura {
    display: flex;
    flex: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 30vw;
    height: 300px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.char1{
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 100%;
    height: 200px;
}

.char1 section {
    width: 100%;
}

.monitor_umidade {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.graf_umi {
    border-radius: 10px;
    background-color:#F5F5F5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    width: 60vw;
    height: 300px;
}

.funcionamento_umidade {
    display: flex;
    flex: column;
    justify-content: center;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 30vw;
    height: 300px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.char1{
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 100%;
    height: 200px;
}

.char1 section {
    width: 100%;
}