@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    background-color: #e0f19c;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 135px;
    width: 135px;
    position: relative;
    left: 80px;
    bottom: 5px;
}

.header h2 {
    color: #2a4c09;
    font-size: 32px;
    position: relative;
    left: 56px;
    bottom: 5px;
}

.header p {
    color: #747472;
    font-weight: 600;
    position: relative;
    right: 20px;
    bottom: 5px;
}

.box-nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 25px;
}

.nav-bar-L {
    display: flex;
    background-color: #F5F5F5;
    width: 49%;
    height: 90%;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.box-nav-bar ul {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

.box-nav-bar a {
    text-decoration: none;
    color: #868686;
}

.box-nav-bar span {
    color: #2a4c09;
    font-weight: bold;
}

.box-nav-bar a:hover {
    transition: 0.5s;
    color: #2a4c09;
}

.nav-bar-R {
    display: flex;
    background-color: #F5F5F5;
    width: 49%;
    height: 90%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.dash-boxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
    margin: 15px;
    margin-top: -10px;
}

.dash-boxes div {
    border-radius: 15px;
}

.dash-boxes h1 {
    color: #2a4c09;
    font-size: 20px;
}
.info-box {
    text-align: left;
    height: 100%;
    width: 180px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}


.info_text p{
    font-size: 13px;
    max-width: 90%;
}

.media-box {
    text-align: center;
    height: 100%;
    width: 200px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 30px;
}

.atual-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 460px;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    right: 55px;
}

.parametros-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 51%;
    width: 87%;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-parametros {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-parametros img {
    height: 20px;
    width: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.header-parametros img:hover {
    transform: scale(1.1);
}
.parametros-box p {
    margin: 0;
    position: relative;
    bottom: 10px;
    color: #747472;
    font-weight: 600;
}

.box-parametros-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-hidden {
    display: none;
}

.box-parametros-cards div {
    width: 140px;
    height: 80px;
    margin-right: 10px;
    position: relative;
    left: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.box-parametros-cards div small {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.box-parametros-cards div span {
    font-size: 17px;
    font-weight: bold;
}

.box-parametros-cards div .container-cards-parametro {
    height: 20px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
}

.box-parametros-cards .card-parametro1 {
    background-color: #c4ee8e;
}
.box-parametros-cards .card-parametro2 {
    background-color: #eccf4d;
}
.box-parametros-cards .card-parametro3 {
    background-color: #e66666;
}

.extra-boxes {
    height: 120px;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
    right: 6px;
}

.sensor-box {
    height: 100%;
    width: 240px;
    background-color: #F5F5F5; 
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-left: 10px;

}
.sensor-box p{
    margin: 5px;
    margin-left: 15px;
    display: flex;
    text-align: justify;
    /* justify-content: center; */
}

.horario-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 255px;
    background-color: #F5F5F5; 
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);   
}

.chart-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.chart-temp {
    height: 95%;
    width: 48.5%;
    background-color: #F5F5F5;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);  
}
.chart-umi {
    height: 95%;
    width: 48.5%;
    background-color: #F5F5F5;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);  
}

.elementos_relogio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.elementos_relogio h1 {
    margin-top: 8px;
    font-size: 24px;
    color: black;
    
}

.alert-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.temp-box,
.umi-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.alerta-temperatura,
.alerta-umidade {
    margin-top: 25px;
    width:  120px;
    height: 15px;
    border: 15px;
    background-color: grey;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);  
}

.temp-box,
.umi-box p{
    color: #747472;
    font-weight: 600;
}

.temp-box h1 {
    color: black;
    font-size: 35px;

}

.umi-box h1 {
    color: black;
    font-size: 35px;
}

.media-umi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 30%;
    background-color: rgb(196, 196, 196);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.media-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 30%;
    background-color: rgb(196, 196, 196);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.media-temp h1,
.media-umi h1 {      
    color:black;
}

.media-all {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.media-all p {
    color: #747472;
    font-weight: 600;
}

img#imagemfazenda {
    border: solid 3px;
    border-color: #2a4c09;
    border-radius: 90px;
    width: 70px;
    height: 70px;
}

.max_min {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.max {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.max img {
    width: 15px;
    height: 15px;
    rotate: 90deg;
}

.max p {
    font-size: 12px;
}

.min {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.min img{
    width: 15px;
    height: 15px;
    rotate: 180deg;
}

.min p {
    font-size: 12px;
}

.sensorHeader {
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
}

.sensorHeader select {
    width: 100px;
    color: #2a4c09;
    font-family: Inter;
    font-size: 18px; 
    font-weight: 700;
    list-style: none;
    appearance: none;
    background-color: #e0f19c;
    border: none;
    padding: 8px; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
}